attrs==23.2.0
iniconfig==2.0.0
jsonschema==4.21.1
jsonschema-specifications==2023.12.1
packaging==24.0
pluggy==1.4.0
pytest==8.1.1
pytest-workflow==2.1.0
PyYAML==6.0.1
referencing==0.34.0
rpds-py==0.18.0
xopen==2.0.1
zstandard==0.22.0
